@import 'tailwindcss';
@import '@ahpatuh/ui/globals.css';

@theme inline {
  --color-apt-primary: #e66e7e;
  --color-apt-secondary: #f4b1c2;
  --color-apt-tertiary: #f0b6b7;
  --color-apt-hot-pink: #f7729c;
  --color-apt-deep: #e36572;
}
